/* Stylesheet for the Beurskens Blog.

  Designed and built by Mickey Beurskens.

  Colour scheme:
  #FFFFFF - White
  #E5E5E5 - Platinum
  #FCA311 - Orange Web
  #14213D - Oxford Blue
  #000000 - Black

  Fonts:
  Merriweather (titles)
  Roboto (long text)

  Index
  1.0 - Root
  2.0 - General
  3.0 - Navigation
  4.0 - Main Page
*/

:root {
  --color-white: #FFFFFF;
  --color-platinum: #E5E5E5;
  --color-orange-web: #FCA311;
  --color-oxford-blue: #14213D;
  --color-black: #000000;

  --font-title: Merriweather;
  --font-blog-text: Roboto;
}


/* 2.0 - General */

.debug {
  border: 1px solid red;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.005em;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/* 3.0 Navigation */

.home-header {
  background-color: var(--color-orange-web);
  padding: 0;
  margin: 0px;
  display: block;
  height: 84px;
}

.header-corner {
  margin-top: -0.5px;
  margin-left: -1px;
}

.nav {
  float: right;
}

.nav-logo {
  float: left;
}

.nav-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav-list-item {
  display: inline;
}

/* 4.0 Main Page */

.home-main {
  background-image: url("../images/background.svg");
  background-attachment: fixed;
  background-size: cover;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 60vh;
  display: block;
}

.divider {
  height: 40px;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  padding: auto;
  display: block;
}

.divider-1 {
  background-image: url("../images/divider.svg")
}

.divider-2 {
  background-image: url("../images/divider-2.svg");
}

.home-title {
  text-align: center;
}

.highlights-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.highlight-box {
  flex: 1;
  text-align: center;
  max-width: 25%;
  height: 150px;
  background-color: #c4c4c4;
  display: block;
  border-radius: 35px 0 35px 0;
}

.recent-post-container {

}

.recent-post-box {
  background-color: red;
  display: block;
  width: 70%;
  margin: auto;
}
