/* Stylesheet for the Beurskens Blog.

  Designed and built by Mickey Beurskens.

  Colour scheme:
  #FFFFFF - White
  #E5E5E5 - Platinum
  #FCA311 - Orange Web
  #14213D - Oxford Blue
  #000000 - Black

  Fonts:
  Merriweather (titles)
  Roboto (long text)

  Index
  1.0 - Root
  2.0 - General
  3.0 - Navigation
  4.0 - Main Page
    4.1 - Recent Posts
  5.0 - Footer
*/

:root {
  --color-white: #FFFFFF;
  --color-platinum: #E5E5E5;
  --color-orange-web: #FCA311;
  --color-oxford-blue: #14213D;
  --color-black: #000000;

  --font-title: Merriweather;
  --font-blog-text: Roboto;
}

/* 2.0 - General */

.debug {
  border: 1px solid red;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.005em;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.max-width {
  max-width: 1000px;
  margin: auto;
}

/* 3.0 Navigation */

.home-header {
  background-color: var(--color-orange-web);
  padding: 0;
  margin: 0px;
  display: block;
  height: 84px;
}

.home-flexbox {
  height: inherit;
}

.header-corner {
  margin-top: -0.5px;
  margin-left: -1px;
}

.nav {
  float: right;
}

.nav-logo-header {
  float: left;
  margin-left: 25px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 17em;
  margin-right: 25px;
}

.nav-list-item {
  display: inline;
  font-family: var(--font-title);
  font-size: 18;
}

.nav-link:link, .nav-link:visited {
  text-decoration: none;
  color: var(--color-oxford-blue);
}

.nav-link:hover {
  color: var(--color-platinum);
}

/* 4.0 Main Page */

.home-main {
  background-image: url("../images/background-im.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: 0 180px;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 60vh;
  display: block;
}

.divider {
  height: 40px;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  padding: auto;
  display: block;
}

.divider-1 {
  background-image: url("../images/divider.svg")
}

.divider-2 {
  background-image: url("../images/divider-2.svg");
}

.home-title {
  text-align: center;
}

.highlights-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.highlight-box {
  flex: 1;
  text-align: center;
  max-width: 25%;
  height: 150px;
  background-color: #c4c4c4;
  display: block;
  border-radius: 35px 0 35px 0;
}

/* 4.1 Recent Posts */

.recent-posts-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.recent-post-box {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 30px;
  margin: auto;
}

.recent-post-box-img {
  flex: 1;
  height: 200px;
  width: 200px;
  max-width: 200px;
  border-radius: 35px 0 35px 0;
}

.recent-post-box-text {
  flex: 3;
  margin-left: 5%;
}

.recent-post-box-text h2 {
  font-family: var(--font-titles);
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.005em;
  color: var(--color-oxford-blue);
}

.recent-post-box-text h3 {
  font-family: var(--font-titles);
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-orange-web);
  margin-top: -4px;
  margin-left: 1px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.005em;
}

.recent-post-box-text p {
  margin-top: 0.4em;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.005em;
}

/* 5.0 Footer */

.home-footer {
  background-color: var(--color-orange-web);
  justify-content: center;
  padding: 0;
  margin: 0px;
  height: 60px;
  margin-top: 2em;
}

.home-footer-flexbox {
  height: inherit;
  display: flex;
}

.footer-flex {
  flex: 1;
}

.footer-nav {
  float: center;
}

.footer-nav a {
  font-size: 0.8em;
}

.nav-list-footer {
  width: 14em;
  margin: auto;
}

.footer-logo {
  height: 1em;
  float: right;
  margin-right: 25px;
}

.footer-images {
  min-width: 90px;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}

.footer-images img {
  display: inline;
  padding-right: 5px;
}
