/* Colour pallate
#000000
#323232
#ff1e56
#ffac41
*/

.blog-post {
  margin: auto;
  padding-left: 4em;
  padding-right: 4em;
  max-width: 900px;
  color: #000000;
  font-family: Arial, Georgia, Verdana;
}

.blog-post : h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

.blog-post .highlighter-rouge {
  color: #ff1e56;
}

.blog-post a {
  color: #ffac41;
}
