<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-preheading text-muted">A bit about</h3>
                    <h2 class="section-heading">what I do</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Development</h4>
                    <p class="text-muted">I have experience working with c, c++, c#, python and matlab for software development and css and html for web development. I usually build software for autonomous systems, but I have done some work as a general software engineer at <a href="https://www.dimenco.eu">Dimenco</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robotics Research</h4>
                    <p class="text-muted">During my studies as a Mechanical Engineer at the Eindhoven University of Technology I have specialized in Robotics research. I am currently performing my master thesis research on applying reinforcement learning to learn robots how to cooperate, in this case to play a game of soccer. Check out the <a href="https://www.techunited.nl/en/">Tech United Soccer Robots</a> to get an idea of the context of this challenge!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Agile Project Management</h4>
                    <p class="text-muted">Personally I am a big fan of the agile approach to development and project planning. I applied Agile concepts extensively during my time founding and building <a href="https://www.serpentineai.nl">student artificial intelligence association Serpentine</a> together with my cofounders and friends.<!-- Serpentine is an official student team at the Eindhoven University of Technology and supports students to discover, develop, compete and contribute in the context of AI competitions.--> I have been resposible for the technical projects at Serpentine during the first two years of its life as Technical Lead.</p>
                </div>
            </div>
        </div>
    </section>
