<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-preheading text-muted">A fancy</h3>
                    <h2 class="section-heading">Timeline</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013</h4>
                                    <h4 class="subheading">University Studies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started my Bachelor's degree in Mechanical Engineering at the Eindhoven University of Technology in the Netherlands!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2016</h4>
                                    <h4 class="subheading">Tech United Robot Soccer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I became a developer at the university robot soccer team <a href="https://www.techunited.nl">Tech United</a>. I was active mainly as software developer and went on to join the team fulltime for a year during my Master's degree, during which we won the robot soccer world cup in Montreal.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2016</h4>
                                    <h4 class="subheading">Start Of Master's Degree Mechanical Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After finishing my Bachelor's degree with a successfull Bachelor thesis at Tech United I started on my Master's Degree. I was part of the <a href="https://www.tue.nl/en/research/research-groups/control-systems-technology/">Control Systems Technology group</a>, specifically the robotics lab.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">Cofounded Artificial Intelligence Association Serpentine</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After dreaming about the concept for some months, <a href="https://www.serpentineai.nl">Serpentine</a> took shape in the form of the core team of four members and we started our first projects. From there Serpentine would become an official association in April 2019. I join the board and take on the role of Technical Lead.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2020</h4>
                                    <h4 class="subheading">Serpentine Becomes An Official Student Team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In February of 2020 Serpentine became an official student team at the Eindhoven University of Technology and is from that point onwards officialy backed by the university.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>The Here
                                    <br>And
                                    <br>Now!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
